* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#login-page {
  height: 100vh;
}

#bio-page,
#doc-page {
  min-height: 100vh;
}

.bio-container,
.doc-container,
.home-container,
.hasil-container {
  padding: 0 82px;
}

.column-row {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.kanan {
  background-color: #2e8a01;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kiri {
  align-content: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.login-title h1:nth-child(1) {
  color: #2e8a01;
}

.login-title p {
  font-size: 16px;
  color: #a1a1a1;
}

.auth-container input {
  width: 430px;
  height: 60px;
  font-size: 14px;
}
.auth-container label {
  font-weight: 600;
  font-size: 18px;
}

.btn-login {
  width: 357px;
  background-color: #2e8a01;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.password-toggle-icon.psw-1 {
  position: absolute;
  top: 60.5%;
  left: 33.8%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon.psw-2 {
  position: absolute;
  top: 73.5%;
  left: 33.8%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 22px;
  color: #2e8a01;
}

.img-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.39);
  color: white;
  width: 560px;
  height: 760px;
  border-radius: 30px;
}

.img-container h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 9rem 2.6rem;
}

.text-acc {
  font-size: 14px;
}
.text-acc a {
  text-decoration: none;
  color: #2e8a01;
  font-weight: bold;
}

.bio-container form,
.doc-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.bio-container .form-group:last-child {
  grid-column: span 2 / span 2;
}

.bio-container label,
.doc-container label {
  font-weight: 500;
  margin-bottom: 8px;
}

.bio-container input,
.bio-container textarea,
.bio-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  color: #000;
  transition: border-color 0.2s;
}

.bio-container input:focus,
.bio-container textarea:focus,
.bio-container select:focus {
  border-color: #2e8a01;
}

.bio-container input::placeholder {
  color: #bbb;
}

.bio-container select {
  color: black;
}

.bio-container select option {
  color: #000;
}

.doc-container .form-group .field-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #c1c1c1;
  margin-bottom: 10px;
  font-size: 16px;
}
.doc-container .form-group .field-input button {
  padding: 10px;
  border-radius: 5px;
  background-color: #3366ff;
  border: none;
  color: white;
}

.doc-container input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #bbb;
}

.doc-container .save-btn {
  background-color: #2e8a01;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
}
.form-footer button:nth-child(1) {
  background-color: white;
  border: 1px solid #2e8a01;
  color: #2e8a01;
}
.prev-btn,
.next-btn {
  padding: 20px 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.next-btn {
  background-color: #2e8a01;
  color: white;
}

.doc-container input#file-upload-button {
  background-color: #3366ff;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 82px;
}

/* .home-container .left {
  background-color: #2e8a01;
}
.home-container .right {
  background-color: blueviolet;
} */

.job-card {
  width: 635px;
  height: 225px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.job-card .card-body {
  height: 100%;
}

.job-card .card-subtitle {
  font-weight: 500;
}
.job-card .card-body h6,
.job-card .card-body button {
  width: fit-content;
}

.detail-btn,
.lamar-btn {
  border: none;
  background-color: #2e8a01;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.lamar-btn {
  padding: 1rem 10rem;
}
.job-req div {
  font-size: 14px;
}

.card-body div:nth-child(1) h5 {
  font-size: 16px;
}
.card-body div:nth-child(1) p {
  color: #2e8a01;
  font-size: 14px;
}

.detail-job .job-title p {
  color: #2e8a01;
}

.detail-job div .row .badge {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
}

.hidden {
  display: none;
}
.show-detail {
  display: block;
}

.action-btn {
  background-color: #2e8a01;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  color: white;
}

.hasil-container {
  min-height: 100vh;
}
.hasil-container h1 {
  font-size: 28px;
  font-weight: 500;
}

.hasil-table {
  margin: 10rem 0 0 0;
  width: 100%;
}
.hasil-table thead tr {
  background-color: #2e8a01;
  color: white;
  text-align: center;
}
.hasil-table thead tr th:last-child {
  width: 10%;
}

.hasil-table thead tr th,
td {
  padding: 10px 0;
}

.hasil-table tbody tr,
.hasil-table tbody tr td {
  border: 1px solid #ccc;
}

.hasil-table thead tr th:nth-child(1),
.hasil-table tbody tr td:nth-child(1) {
  text-align: center;
}

.hasil-table tbody tr td:nth-child(2) {
  padding: 0 10px;
}
.hasil-table tbody tr td:last-child {
  display: flex;
  justify-content: center;
  border: none;
}
.hasil-table tbody tr:nth-child(odd) {
  background-color: rgba(46, 138, 1, 0.1);
}
.hasil-table tbody tr:nth-child(even) {
  background-color: #e7ffdb;
}

.test-topo {
  height: 100%;
  width: 100%;
  /* background-color: #3366ff; */
  background: url(../assets/topography.svg) no-repeat fixed;
  background-position: center;
  background-size: cover;
}
